<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">

<!--    ${tempProject.name}-->
    <form class="mx-1 mx-md-4" th:action="@{/issues/save}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${project.id}" name="projectId">
        <input type="hidden" th:value="${user.id}" name="userId">

        <div class="">
          <label for="exampleFormControlTextarea1" class="form-label"><b>Issue's Short Description</b></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Description must not be empty" rows="3" name="description"></textarea>
        </div>

        <p class="mt-3" > <b>Select Priority</b></p>
        <select class="form-select"  aria-label="Default select example" name="priority">
            <option th:value="1"> High</option>
            <option th:value="2"> Medium</option>
            <option th:value="3"> Low</option>
        </select>

        <div class="mb-3 mt-4">
            <label for="file" class="form-label"><b>Upload your file here</b></label>
            <input class="form-control" name="file" type="file" id="file">
        </div>


      <button class="btn btn-success mt-3" type="submit">Save</button>
        <div th:if="${#ctx.containsVariable('error_message')}" th:text="${error_message}" style="color:red"></div>
    </form>
</div>


</body>
</html>